@import '~@angular/material/theming';

@include mat-core();

$black: #000000;

$primary: mat-palette($primaryPalette);
$primary-darker: mat-palette($primaryPalette, 800, 900);
$accent:  mat-palette($secondaryPalette, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
$darker-theme: mat-light-theme($primary-darker, $accent);

@include angular-material-theme($theme);
@include mat-toolbar-theme($darker-theme);

.layout-header, .layout-footer {
    background: mat-color($primaryPalette, 900);
    color: mat-contrast($primaryPalette, 900);
}

.layout-sidenav {
    background: mat-color($primaryPalette, 900);
}

.side_menu_list_item {
    color: mat-contrast($primaryPalette, 900) !important;
}

.side_menu_list_item:hover {
    color: mat-color($primaryPalette, 200) !important;
}

tr.element-row:hover {
    background: mat-color($primaryPalette, 50);
}


.mat-header-cell {
    color: mat-contrast($primaryPalette, 900);
}

.expansion-panel {
    background: mat-color($primaryPalette, 900) !important;
    box-shadow: none !important;
}

.expansion-panel-title {
    color: mat-contrast($primaryPalette, 800) !important;
}

.expansion-panel-header {
    padding: 0 20px 0 10px !important;
}

.mat-expansion-indicator::after {
    color: mat-color($primaryPalette, 900) !important;
}

.mat-expansion-panel-body {
    padding: 0 !important;
}

.tweezers-grid-text {
    color: mat-contrast($primaryPalette, 100) !important;
}

.success {
    color: #bef67a;
}

.error {
    color: #fd4141;
}

.transparant {
    color: transparent;
}

.layout-text-color {
    color: mat-contrast($primaryPalette, 900);
}

.expansion-panel-header-text-color {
    color: mat-color($primaryPalette, 900) !important;
}