$tweezersdarkblue: (
    50 : #e2e4ea,
    100 : #b7bacb,
    200 : #888da9,
    300 : #585f86,
    400 : #343c6c,
    500 : #101a52,
    600 : #0e174b,
    700 : #0c1341,
    800 : #090f38,
    900 : #050828,
    A100 : #646aff,
    A200 : #313aff,
    A400 : #000bfd,
    A700 : #000ae3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);