.layout-header.indigo, .layout-footer.indigo {
    background: #1A237E;
    color: #E8EAF6;
}

.layout-sidenav.indigo {
    background: #3F51B5;
}

.side_menu_list_item.indigo {
    color: #E8EAF6;
}

.side_menu_list_item.indigo:hover {
    color: #8C9EFF;
}