.layout-header.purple, .layout-footer.purple {
    background: #311B92;
    color: #F3E5F5;
}

.layout-sidenav.purple {
    background: #4527A0;
}

.side_menu_list_item.purple {
    color: #F3E5F5;
}

.side_menu_list_item.purple:hover {
    color: #B39DDB;
}