<mat-expansion-panel class="expansion-panel" [expanded]="true">
    <mat-expansion-panel-header class="expansion-panel-header">
      <mat-panel-title class="expansion-panel-title">
        Collections
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <mat-list>
        <ng-container *ngFor="let link of linkData; let i = index">
            <tweezers-side-menu-item [link]="link"></tweezers-side-menu-item>
        </ng-container>
    </mat-list>
  
</mat-expansion-panel>
<mat-divider></mat-divider>
<mat-expansion-panel class="expansion-panel" [expanded]="true">
    <mat-expansion-panel-header class="expansion-panel-header">
      <mat-panel-title class="expansion-panel-title">
        Management
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <mat-list>
        <ng-container *ngFor="let link of internalLinkData; let i = index">
            <tweezers-side-menu-item [link]="link"></tweezers-side-menu-item>
        </ng-container>
    </mat-list>
  
</mat-expansion-panel>
