<div *ngIf="item && !loading">
  <tweezers-single-item-header [entityData]="entityData" [itemName]="item['name']" [buttons]="buttons"></tweezers-single-item-header>

  <form class="tweezers-single-item-form">
    <div *ngFor="let field of fields">
      <tweezers-text-box
        *ngIf="
          !propertyData[field].values && propertyData[field].type !== 'Boolean'
        "
        [prop]="field"
        [header]="propertyData[field].displayName"
        [item]="item"
      ></tweezers-text-box>

      <tweezers-slider
        *ngIf="propertyData[field].type === 'Boolean'"
        [prop]="field"
        [header]="propertyData[field].displayName"
        [item]="item"
      ></tweezers-slider>

      <tweezers-dropdown
        *ngIf="propertyData[field].values"
        [prop]="field"
        [fieldData]="propertyData[field]"
        [item]="item"
        [allowNone]="propertyData[field].type !== 'Enum'"
      ></tweezers-dropdown>
    </div>
  </form>
</div>
