<div class="loading-shade" *ngIf="loading || !item">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="item && !loading">
  <tweezers-single-item-header
    [entityData]="entityData"
    [itemName]="item[entityData.uiTitle]"
    [buttons]="buttons"
  ></tweezers-single-item-header>

  <form class="tweezers-single-item-form">
    <div *ngFor="let pd of propertyData | keyvalue | orderBy:'value.orderNum'">
      <ng-container *ngIf="!!pd.value">
        <tweezers-text-box
          *ngIf="
            pd.value.type === 'String' ||
            pd.value.type === 'Integer' ||
            pd.value.type === 'Password'
          "
          [prop]="pd.key"
          [header]="pd.value.displayName"
          [item]="item"
          [inputType]="pd.value.type"
          [required]="pd.value.required"
          [suffix]="pd.value.suffix"
        ></tweezers-text-box>

        <tweezers-slider
          *ngIf="pd.value.type === 'Boolean'"
          [prop]="pd.key"
          [header]="pd.value.displayName"
          [item]="item"
          [required]="pd.value.required"
        ></tweezers-slider>

        <tweezers-dropdown
          *ngIf="
            pd.value.type === 'Enum' ||
            (pd.value.type === 'Object' &&
              !!pd.value.values)
          "
          [prop]="pd.key"
          [displayName]="pd.value.displayName"
          [values]="pd.value.values.items"
          [icon]="pd.value.values.icon"
          [item]="item"
          [allowNone]="!pd.value.required"
        ></tweezers-dropdown>

        <tweezers-array
          *ngIf="pd.value.type === 'Array'"
          [prop]="pd.key"
          [objectReference]="
            pd.value.internalFieldData.objectReference
          "
          [displayName]="pd.value.displayName"
          [item]="item"
          [required]="pd.value.required"
        ></tweezers-array>

        <tweezers-multiple-select
          *ngIf="pd.value.type === 'TagsArray'"
          [prop]="pd.key"
          [displayName]="pd.value.displayName"
          [item]="item"
        ></tweezers-multiple-select>

        <tweezers-internal-object
          *ngIf="
            pd.value.type === 'Object' &&
            !!pd.value.objectReference
          "
          [prop]="pd.key"
          [objectReference]="pd.value.objectReference"
          [displayName]="pd.value.displayName"
          [item]="item"
          [required]="pd.value.required"
        ></tweezers-internal-object>
      </ng-container>
    </div>
  </form>
</div>
