<h1 mat-dialog-title>
  <mat-icon class="dialog-icon">cached</mat-icon>
  <div class="dialog-title">Change Password</div>
</h1>
<div *ngIf="!!errorMsg" class="error-message error mb10">{{ errorMsg }}</div>

<div mat-dialog-content>
  <mat-form-field class="change-password-field">
    <input
      matInput
      placeholder="Old password"
      [(ngModel)]="oldPassword"
      type="password"
      name="oldPassword"
      required
      autocomplete="off"
      (keydown.enter)="onOk()"
    />
  </mat-form-field>
  <mat-form-field class="change-password-field">
    <input
      matInput
      placeholder="New password"
      [(ngModel)]="newPassword"
      type="password"
      name="newPassword"
      required
      autocomplete="off"
      (keydown.enter)="onOk()"
    />
  </mat-form-field>
  <mat-form-field class="change-password-field">
    <input
      matInput
      placeholder="Confirm new password"
      [(ngModel)]="confirmNewPassword"
      type="password"
      name="confirmNewPassword"
      required
      autocomplete="off"
      (keydown.enter)="onOk()"
    />
  </mat-form-field>
</div>
<div mat-dialog-actions class="display-block">
  <ng-container *ngFor="let button of buttons">
    <tweezers-round-button [buttonDetails]="button"></tweezers-round-button>
    <div class="divider flr"></div>
  </ng-container>
</div>
