.dialog-icon {
  position: absolute;
  margin-top: 4px;
}

.dialog-title {
  margin-left: 35px;
}

.change-password-field {
  width: 100%;
}

.error-message {
    font-size: 15px;
}

.display-block {
    display: block !important;
}