/* Color Imports */
/* @import './assets/colors/style_colors.css'; */


@import 'style-config.scss';

/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mt10 {
    margin-top: 10px;
}

.pointer {
    cursor: pointer;
}