/* Color Imports */
/* @import './assets/colors/style_colors.css'; */


@import 'style-config.scss';
@import 'src/assets/icons/icomoon/icomoon.scss';

/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif;
}

.force-m10 {
    margin: 10px !important;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mt10 {
    margin-top: 10px;
}

.pointer {
    cursor: pointer;
}

.flr {
    float: right;
}

.divider {
    width: 10px;
    height: 10px;
}

.tweezers-snackbar {
    min-width: 1000px !important;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:  rgba(0, 0, 0, 0.10);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }