/* Color Imports */
/* @import './assets/colors/style_colors.css'; */


@import 'style-config.scss';

/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif;
}

.force-m10 {
    margin: 10px !important;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mt10 {
    margin-top: 10px;
}

.pointer {
    cursor: pointer;
}

.flr {
    float: right;
}

.divider {
    width: 10px;
    height: 10px;
}

.tweezers-snackbar {
    min-width: 1000px !important;
}